In [1]:
import numpy as np
import pandas as pd

In [3]:
# загружаю  данные 

train = pd.read_csv('DATA_data_fusion_contest_2022/train.csv')
#pd.read_csv("../input/vtbdatafusion2022/train.csv")

tra_val = pd.read_csv('DATA_data_fusion_contest_2022/train_matching.csv')
#pd.read_csv('../input/vtbdatafusion2022/train_matching.csv')

click_data = pd.read_csv('DATA_data_fusion_contest_2022/clickstream.csv') #очень аккуратно надо выполнять!! 
#pd.read_csv('../input/vtbdatafusion2022/clickstream.csv')

trans = pd.read_csv('DATA_data_fusion_contest_2022/transactions.csv') 
#pd.read_csv('../input/vtbdatafusion2022/transactions.csv')

In [4]:
#получаю людей с вышкой и без нее в 2 отдельные переменные
train_h_edu_only = train[train.higher_education==1]
#train_h_edu_only.head

train_h_edu_no = train[train.higher_education==0]
#train_h_edu_no.head

In [5]:
#вышенайденным людям нахожу их rkt -> после надо взять самый большой файл и скрестить их
df_h_edu_only = train_h_edu_only.merge(tra_val)
#df_h_edu_only

df_h_edu_no = train_h_edu_no.merge(tra_val)
#df_h_edu_no

In [6]:
#переименую чтобы потом скрестить таблицы

df_h_edu_no.rename(columns = {'rtk' : 'user_id'}, inplace = True)
#df_h_edu_no
df_h_edu_only.rename(columns = {'rtk' : 'user_id'}, inplace = True)

In [7]:
#таблички идут на свидание
df_clik_h_edu_no = click_data.merge(df_h_edu_no)

df_clik_h_edu_only = click_data.merge(df_h_edu_only)

In [9]:
# пришло время попробовать очистить память
#click_data = 0
#tra_val = 0
#train = 0



#display(df_clik_h_edu_no)
#display(df_clik_h_edu_only)

,user_id,cat_id,timestamp,new_uid,bank,higher_education
0,003a54bc170f4e109036fe534f78c7af,535,2021-01-27 10:07:46,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0.0
1,003a54bc170f4e109036fe534f78c7af,25,2021-02-03 07:22:16,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0.0
2,003a54bc170f4e109036fe534f78c7af,165,2021-02-04 02:02:34,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0.0
3,003a54bc170f4e109036fe534f78c7af,931,2021-02-06 01:31:54,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0.0
4,003a54bc170f4e109036fe534f78c7af,503,2021-02-06 14:07:00,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0.0
...,...,...,...,...,...,...
10219101,fff3a88d5d114a69ae58d6bbe994359d,289,2021-07-25 14:53:00,280080,24afae657bbf4b03851c191e2871d309,0.0
10219102,fff3a88d5d114a69ae58d6bbe994359d,165,2021-07-29 14:46:05,559932,24afae657bbf4b03851c191e2871d309,0.0
10219103,fff3a88d5d114a69ae58d6bbe994359d,931,2021-07-30 15:10:20,559932,24afae657bbf4b03851c191e2871d309,0.0
10219104,fff3a88d5d114a69ae58d6bbe994359d,531,2021-08-03 02:41:32,728053,24afae657bbf4b03851c191e2871d309,0.0
10219105,fff3a88d5d114a69ae58d6bbe994359d,772,2021-08-04 02:23:05,559932,24afae657bbf4b03851c191e2871d309,0.0

In [10]:
# а так же сохраню в в отдельный файл

df_clik_h_edu_no.to_csv('df_clik_h_edu_no.csv', sep='\t', encoding='utf-8')
df_clik_h_edu_only.to_csv('df_clik_h_edu_only.csv', sep='\t', encoding='utf-8')
#к имени надо добавлять .csv

In [13]:
#посмотрю размер
print(df_clik_h_edu_no.shape , df_clik_h_edu_only.shape)

(10219106, 6) (30476953, 6)

In [20]:
#переименовать графу времени!
trans.rename (columns = {'transaction_dttm': 'timestamp'}, inplace = True)
display(trans)

,user_id,mcc_code,currency_rk,transaction_amt,timestamp
0,000932580e404dafbecd5916d4640938,5411,48,-361.072300,2020-08-03 08:05:23
1,000932580e404dafbecd5916d4640938,5499,48,-137.313980,2020-08-05 01:27:40
2,000932580e404dafbecd5916d4640938,5499,48,-138.849810,2020-08-05 03:28:11
3,000932580e404dafbecd5916d4640938,4829,48,-309.476530,2020-08-06 00:36:29
4,000932580e404dafbecd5916d4640938,5411,48,-133.473700,2020-08-09 00:30:13
...,...,...,...,...,...
19821905,fffb051877b949f49bed6538393a06ae,5411,48,-40.727768,2021-07-31 05:33:03
19821906,fffb051877b949f49bed6538393a06ae,5411,48,-277.494350,2021-07-31 08:57:02
19821907,fffb051877b949f49bed6538393a06ae,5411,48,-138.097350,2021-07-31 08:59:33
19821908,fffb051877b949f49bed6538393a06ae,6011,48,-86.046776,2021-08-01 23:04:41
19821909,fffb051877b949f49bed6538393a06ae,6012,48,-4864.049300,2021-08-02 09:20:43

In [21]:
df_all_h_edu_no = trans.merge(df_clik_h_edu_no)

In [25]:
#df_all_h_edu_no # тут пока что лажа. чуть позже еще подумаю
# все фигня. по дате нет совпадений.

In [26]:
sub_data = pd.read_csv('DATA_data_fusion_contest_2022/sample_submission.csv')

In [27]:
sub_data

                                  bank  higher_education_proba
0     85ef628894e34ad6869778a9a5d15ba5                     0.5
1     5ec7a78c6efd4d6291e371a6f30ed5c0                     0.5
2     d0f5d1884ad74e3e9aae7e49f2e1b77b                     0.5
3     c3c0f24dda94413ab98036f6d9018d3d                     0.5
4     6a137054df2a42218a518479317e5b1e                     0.5
...                                ...                     ...
3995  6b4e9d5efdc346969b5bd2cd1423e1df                     0.5
3996  aa94374db32c492a9a0bd70566ff6127                     0.5
3997  4a73e124aa894bf8a014c7ea02ad61bf                     0.5
3998  1739a132cead43ffa3872de4f7450ad6                     0.5
3999  9a12ee6ce5784824aa6f8dcbdc3143f0                     0.5

[4000 rows x 2 columns]

In [32]:
# таким образом я узнал, что можно обращаться по индексам
sub_data.bank[0]

'85ef628894e34ad6869778a9a5d15ba5'

In [31]:
cou = 0

for i in sub_data.bank:
    if cou>0:
        if cou/100 == int(cou/100):
            print(cou)
    if df_clik_h_edu_only.bank.isin([i]).any():#df_clik_h_edu_only.bank == i:
        cou += 1
    if df_clik_h_edu_no.bank.isin([i]).any():#df_clik_h_edu_no == i:
        cou += 1

        #my_df["range"].isin([45]).any()

KeyboardInterrupt:

In [33]:
print(cou)

0

In [ ]:
df_clik_h_edu_only.bank.isin([sub_data.bank[:]]).any()