In [2]:
import pandas as pd
import numpy as np

In [13]:
# загружаю  данные 

#traidisplay pd.read_csv('DATA_data_fusion_contest_2022/train.csv')
#pd.read_csv("../input/vtbdatafusion2022/train.csv")
#print('train.csv - DONE!')


#tra_val = pd.read_csv('DATA_data_fusion_contest_2022/train_matching.csv')
#pd.read_csv('../input/vtbdatafusion2022/train_matching.csv')
#print('train_matching.csv - DONE!')


#click_data = pd.read_csv('DATA_data_fusion_contest_2022/clickstream.csv') #очень аккуратно надо выполнять!! 
#pd.read_csv('../input/vtbdatafusion2022/clickstream.csv')
#print('clickstream.csv - DONE!')


#trans = pd.read_csv('DATA_data_fusion_contest_2022/transactions.csv')
#trans = pd.read_csv('../input/vtbdatafusion2022/transactions.csv')
#print('transactions.csv - DONE!')


#sub_data = pd.read_csv('DATA_data_fusion_contest_2022/sample_submission.csv')
#sub_data = pd.read_csv('../input/vtbdatafusion2022/sample_submission.csv')
#print('sample_submission.csv - DONE!')


df_clik_h_edu_no = pd.read_csv('newdatadatafusion/df_clik_h_edu_no2.csv')
#df_clik_h_edu_no = pd.read_csv('../input/df2022-converted/df_clik_h_edu_no.csv')
print('df_clik_h_edu_no - DONE!')


df_clik_h_edu_only = pd.read_csv('newdatadatafusion/df_clik_h_edu_only2.csv')
#df_clik_h_edu_only = pd.read_csv('../input/df2022-converted/df_clik_h_edu_only.csv')
print('df_clik_h_edu_only - DONE!')

df_clik_h_edu_no - DONE!
df_clik_h_edu_only - DONE!

In [14]:
display(df_clik_h_edu_no)
display(df_clik_h_edu_only)

,Unnamed: 0,user_id,cat_id,timestamp,new_uid,bank,higher_education
0,0,003a54bc170f4e109036fe534f78c7af,535,2021-01-27 10:07:46,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
1,1,003a54bc170f4e109036fe534f78c7af,25,2021-02-03 07:22:16,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
2,2,003a54bc170f4e109036fe534f78c7af,165,2021-02-04 02:02:34,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
3,3,003a54bc170f4e109036fe534f78c7af,931,2021-02-06 01:31:54,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
4,4,003a54bc170f4e109036fe534f78c7af,503,2021-02-06 14:07:00,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
...,...,...,...,...,...,...,...
1048570,1048570,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 16:34:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048571,1048571,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 17:24:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048572,1048572,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 21:15:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048573,1048573,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 22:32:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048574,1048574,1f627a283e9d4f97a28c1bec5c224906,535,2021-07-03 22:38:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0

,Unnamed: 0,user_id,cat_id,timestamp,new_uid,bank,higher_education
0,0,000a8d3cdef3455d990e97730a2cef43,12,2021-01-22 14:50:05,1364191,e8236b199a8249ab889b3c5cbdc872b9,1
1,1,000a8d3cdef3455d990e97730a2cef43,931,2021-01-23 19:16:35,531108,e8236b199a8249ab889b3c5cbdc872b9,1
2,2,000a8d3cdef3455d990e97730a2cef43,165,2021-01-24 09:48:04,531108,e8236b199a8249ab889b3c5cbdc872b9,1
3,3,000a8d3cdef3455d990e97730a2cef43,503,2021-01-25 18:46:06,531108,e8236b199a8249ab889b3c5cbdc872b9,1
4,4,000a8d3cdef3455d990e97730a2cef43,931,2021-01-27 18:10:39,531108,e8236b199a8249ab889b3c5cbdc872b9,1
...,...,...,...,...,...,...,...
1048570,1048570,09ed6339fac9455dbd1aea3209f30967,531,2021-02-16 13:21:00,1306437,85954e44e7e642bdaaab671db107a935,1
1048571,1048571,09ed6339fac9455dbd1aea3209f30967,165,2021-02-16 13:23:00,1306437,85954e44e7e642bdaaab671db107a935,1
1048572,1048572,09ed6339fac9455dbd1aea3209f30967,503,2021-02-16 13:45:00,1306437,85954e44e7e642bdaaab671db107a935,1
1048573,1048573,09ed6339fac9455dbd1aea3209f30967,165,2021-02-16 14:26:00,1306437,85954e44e7e642bdaaab671db107a935,1
1048574,1048574,09ed6339fac9455dbd1aea3209f30967,931,2021-02-16 14:31:56,1306437,85954e44e7e642bdaaab671db107a935,1