In [1]:
import numpy as np
import pandas as pd

######  Загружаю данные

In [3]:
# загружаю  данные 

#train = pd.read_csv('DATA_data_fusion_contest_2022/train.csv')
#pd.read_csv("../input/vtbdatafusion2022/train.csv")
#print('train.csv - DONE!')


#tra_val = pd.read_csv('DATA_data_fusion_contest_2022/train_matching.csv')
#pd.read_csv('../input/vtbdatafusion2022/train_matching.csv')
#print('train_matching.csv - DONE!')


#click_data = pd.read_csv('DATA_data_fusion_contest_2022/clickstream.csv') #очень аккуратно надо выполнять!! 
#pd.read_csv('../input/vtbdatafusion2022/clickstream.csv')
#print('clickstream.csv - DONE!')


trans = pd.read_csv('DATA_data_fusion_contest_2022/transactions.csv')
print('transactions.csv - DONE!')
#pd.read_csv('../input/vtbdatafusion2022/transactions.csv')

sub_data = pd.read_csv('DATA_data_fusion_contest_2022/sample_submission.csv')
print('sample_submission.csv - DONE!')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

######  разделяю на 2 разные таблицы с выщкой и без неё

In [4]:
train_h_edu_only = train[train.higher_education==1]
#train_h_edu_only.head

train_h_edu_no = train[train.higher_education==0]
#train_h_edu_no.head

###### вышенайденным людям нахожу их rkt -> после надо взять самый большой файл и скрестить их. а так же переименую чтобы потом скрестить таблицы

In [5]:
df_h_edu_only = train_h_edu_only.merge(tra_val)
df_h_edu_no = train_h_edu_no.merge(tra_val)


df_h_edu_no.rename(columns = {'rtk' : 'user_id'}, inplace = True)
df_h_edu_only.rename(columns = {'rtk' : 'user_id'}, inplace = True)

######  опять скрещиваю таблицы

In [7]:
#таблички идут на свидание
df_clik_h_edu_no = click_data.merge(df_h_edu_no)

df_clik_h_edu_only = click_data.merge(df_h_edu_only)

###### а так же сохраню в в отдельный файл

In [10]:
#df_clik_h_edu_no.to_csv('df_clik_h_edu_no.csv', sep='\t', encoding='utf-8')
#df_clik_h_edu_only.to_csv('df_clik_h_edu_only.csv', sep='\t', encoding='utf-8')
#к имени надо добавлять .csv

In [13]:
#посмотрю размер
print(df_clik_h_edu_no.shape , df_clik_h_edu_only.shape)

(10219106, 6) (30476953, 6)

In [20]:
#переименовать графу времени!
#trans.rename (columns = {'transaction_dttm': 'timestamp'}, inplace = True)
#display(trans)

,user_id,mcc_code,currency_rk,transaction_amt,timestamp
0,000932580e404dafbecd5916d4640938,5411,48,-361.072300,2020-08-03 08:05:23
1,000932580e404dafbecd5916d4640938,5499,48,-137.313980,2020-08-05 01:27:40
2,000932580e404dafbecd5916d4640938,5499,48,-138.849810,2020-08-05 03:28:11
3,000932580e404dafbecd5916d4640938,4829,48,-309.476530,2020-08-06 00:36:29
4,000932580e404dafbecd5916d4640938,5411,48,-133.473700,2020-08-09 00:30:13
...,...,...,...,...,...
19821905,fffb051877b949f49bed6538393a06ae,5411,48,-40.727768,2021-07-31 05:33:03
19821906,fffb051877b949f49bed6538393a06ae,5411,48,-277.494350,2021-07-31 08:57:02
19821907,fffb051877b949f49bed6538393a06ae,5411,48,-138.097350,2021-07-31 08:59:33
19821908,fffb051877b949f49bed6538393a06ae,6011,48,-86.046776,2021-08-01 23:04:41
19821909,fffb051877b949f49bed6538393a06ae,6012,48,-4864.049300,2021-08-02 09:20:43

In [21]:
df_all_h_edu_no = trans.merge(df_clik_h_edu_no)
#df_all_h_edu_no # тут пока что лажа. чуть позже еще подумаю
# все фигня. по дате нет совпадений.

#  работа с данными которые надо предсказать

In [ ]:
sub_data.rename(columns={'bank':'user_id'}, inplace = True)
sub_data

In [34]:
# таким образом я узнал, что можно обращаться по индексам
#sub_data.bank[0]

In [13]:
#my_df["range"].isin([45]).any()
#trans.user_id.isin([sub_data.bank[0]]).any()

True

In [16]:
# появиль новые интересные факты...
#щя будем смотреть

In [29]:
df_sub_data = sub_data.merge(trans)
df_sub_data

,user_id,higher_education_proba,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,85ef628894e34ad6869778a9a5d15ba5,0.5,6399,48,-375.665400,2020-08-03 09:04:43
1,85ef628894e34ad6869778a9a5d15ba5,0.5,-1,48,-34.727962,2020-08-14 06:18:23
2,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-99.567380,2020-08-16 08:25:41
3,85ef628894e34ad6869778a9a5d15ba5,0.5,6538,48,-4596.552700,2020-08-18 09:02:07
4,85ef628894e34ad6869778a9a5d15ba5,0.5,-1,48,9207.459000,2020-08-18 11:50:34
...,...,...,...,...,...,...
3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5814,48,-840.511200,2021-07-30 10:42:34
3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-104.373930,2021-07-30 13:52:17
3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-201.048200,2021-07-31 13:07:58
3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5921,48,-212.824500,2021-07-31 15:11:10
3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-109.465256,2021-07-31 16:43:42

In [33]:
#так я узнал для всех ли нашлись траты

n = len(pd.unique(df_sub_data['user_id'])) 
n

4000

In [35]:
# убрал mcc = -1 т.к. такого кода нет
df_sub_data = df_sub_data.loc[df_sub_data['mcc_code'] != -1]
df_sub_data

,user_id,higher_education_proba,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,85ef628894e34ad6869778a9a5d15ba5,0.5,6399,48,-375.665400,2020-08-03 09:04:43
2,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-99.567380,2020-08-16 08:25:41
3,85ef628894e34ad6869778a9a5d15ba5,0.5,6538,48,-4596.552700,2020-08-18 09:02:07
5,85ef628894e34ad6869778a9a5d15ba5,0.5,5411,48,-107.011185,2020-08-18 22:37:36
6,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-1258.673600,2020-08-19 10:52:53
...,...,...,...,...,...,...
3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5814,48,-840.511200,2021-07-30 10:42:34
3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-104.373930,2021-07-30 13:52:17
3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-201.048200,2021-07-31 13:07:58
3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5921,48,-212.824500,2021-07-31 15:11:10
3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-109.465256,2021-07-31 16:43:42

In [139]:
#js = np.array(df_sub_data.index)

#js = js[1:]
#js
df_sub_data.reset_index()
#js = np.array(df_sub_data.index)
#js = js[1:]
js

array([      0,       2,       3, ..., 3626424, 3626425, 3626426])

In [152]:
#mon = np.zeros(4000)

#df_sub_data.reset_index()
js = np.array(df_sub_data.index)
js = js[2:]

for j in js:
    #print(j)
    h1 = str(df_sub_data.user_id[j])
    h2 = str(df_sub_data.user_id[j-1])
    
    if h1 == h2: #проверяю нынешний и пред
        df_sub_data.transaction_amt[j] =+ df_sub_data.transaction_amt[j-1]
        
df_sub_data
    
#for i in range ( sub_data.shape[0] ):
#    
#    h1 = str(sub_data.user_id[i])
#    
#    for j in js:
#        
#        h2 = str(df_sub_data.user_id[j])
#        
#        if h1 == h2:
#            
#            help_data = float( df_sub_data.transaction_amt[j] )
#
#            mon[i] += help_data

       
        

#print(mon)

/tmp/ipykernel_3888/134074592.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub_data.transaction_amt[j] =+ df_sub_data.transaction_amt[j-1]

,level_0,index,user_id,higher_education_proba,currency_rk,transaction_amt
0,0,0,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-375.66540
1,1,2,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.56738
2,2,3,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.56738
3,3,5,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.56738
4,4,6,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.56738
...,...,...,...,...,...,...
3517293,3517293,3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-803.87354
3517294,3517294,3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-803.87354
3517295,3517295,3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-803.87354
3517296,3517296,3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-803.87354
3517297,3517297,3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-803.87354

In [ ]:
max_mon = np.zeros(4000)
i = 0

#df_sub_data

for j in js:
    
    h1 = str(df_sub_data.user_id[j])
    h2 = str(df_sub_data.user_id[j-1])
    
    if h1 == h2:
        if df_sub_data.transaction_amt[j] > df_sub_data.transaction_amt[j-1]:
            
            #df = df.drop(index=[888])

            df_sub_data.drop(index = [j-1])
            #max_mon[i]
        else:
            df_sub_data.drop(index = [j])
    else:
        i+=1

In [88]:
print(mon)

[0. 0. 0. ... 0. 0. 0.]

In [92]:
he = float(df_sub_data.transaction_amt[j])
type(he)

float

In [98]:
 if df_sub_data.user_id[0] == sub_data.user_id[0]:
        print(float(df_sub_data.transaction_amt[0]))

-375.6654

In [111]:
sub_data

                               user_id  higher_education_proba
0     85ef628894e34ad6869778a9a5d15ba5                     0.5
1     5ec7a78c6efd4d6291e371a6f30ed5c0                     0.5
2     d0f5d1884ad74e3e9aae7e49f2e1b77b                     0.5
3     c3c0f24dda94413ab98036f6d9018d3d                     0.5
4     6a137054df2a42218a518479317e5b1e                     0.5
...                                ...                     ...
3995  6b4e9d5efdc346969b5bd2cd1423e1df                     0.5
3996  aa94374db32c492a9a0bd70566ff6127                     0.5
3997  4a73e124aa894bf8a014c7ea02ad61bf                     0.5
3998  1739a132cead43ffa3872de4f7450ad6                     0.5
3999  9a12ee6ce5784824aa6f8dcbdc3143f0                     0.5

[4000 rows x 2 columns]

In [147]:
df_sub_data = df_sub_data.reset_index()
df_sub_data

,level_0,index,user_id,higher_education_proba,currency_rk,transaction_amt
0,0,0,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-375.665400
1,1,2,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.567380
2,2,3,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-99.567380
3,3,5,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-107.011185
4,4,6,85ef628894e34ad6869778a9a5d15ba5,0.5,48,-1258.673600
...,...,...,...,...,...,...
3517293,3517293,3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-840.511200
3517294,3517294,3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-104.373930
3517295,3517295,3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-201.048200
3517296,3517296,3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-212.824500
3517297,3517297,3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,48,-109.465256